.App {
  text-align: center;
}

.mainDiv {
  margin: 0 auto;
  width: 50%;
  border: 3px solid hotpink;
  padding: 10px;
  background-color: rgba(244, 206, 212, 0.331);
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: hotpink;
  text-align: center;
}

.button {
  background-color: hotpink;
  border: 1px solid black;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.divCount {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.exercisesList {
  margin: 0 auto;
  width: 50%;
  font-size: 16px;
}

.divButton {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}